@import 'tailwindcss';
/* @plugin "daisyui"; */
@layer base {
  :root {
      --color-primary: #184e3a;
      --color-secondary: #ebf1f4;
      --color-accent: #FCE6E5;
      --color-accent2: #F8FCFF;
    }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
    /* .bg-primary {
      background-color: var(--color-primary);
    } */
  
    /* .text-primary {
      color: var(--color-primary);
    }
  
    .bg-secondary {
      background-color: var(--color-secondary);
    }
  
    .text-secondary {
      color: var(--color-secondary);
    }
  
    .bg-acent {
      background-color: var(--color-acent);
    }
  
    .text-acent {
      color: var(--color-acent);
    }
  
    .bg-acent2 {
      background-color: var(--color-acent2);
    }
  
    .text-acent2 {
      color: var(--color-acent2);
    } */
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(to right, var(--color-accent), var(--color-accent2));
  }
}
