@import 'tailwindcss';
/* @plugin "daisyui"; */
@layer base {
  :root {
      --color-primary: #184e3a;
      --color-secondary: #ebf1f4;
      --color-accent: #FCE6E5;
      --color-accent2: #F8FCFF;
      /* --animate-review: review 1s ease-in-out; */
    }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
    .bg-primary {
      background-color: var(--color-primary);
    }
  
    .text-primary {
      color: var(--color-primary);
    }
  
    .bg-secondary {
      background-color: var(--color-secondary);
    }
  
    .text-secondary {
      color: var(--color-secondary);
    }
  
    .bg-accent {
      background-color: var(--color-accent);
    }
  
    .text-accent {
      color: var(--color-accent);
    }
  
    .bg-accent2 {
      background-color: var(--color-accent2);
    }
  
    .text-accent2 {
      color: var(--color-accent2);
    }
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(to right, var(--color-accent), var(--color-accent2));
  }
}

/* -translate-x-[50%] -scale-[85%] */

  @keyframes reviewPlus {
    0% {
      z-index: 10;
      transform: translateX(0) scale(1);
    }
    100% {
      z-index: 0;
      transform: translateX(-50%) scale(0.8);
    }
  }

  @keyframes reviewZ {
    0%{
      z-index: 10;
      transform: translateX(50%) scale(0.8);
    }
    100%{
      z-index: 20;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes reviewBefore {
    0%{
      z-index: 0;
      transform: translateX(0) scale(0);
    }
    100%{
      z-index: 5;
      transform: translateX(50%) scale(0.8);
    }
  }
