@import 'tailwindcss';

@theme {
  /* sm (≥640px) → Green
    md (≥768px) → tablet
    lg (≥1024px) → Red
    xl (≥1280px) → laptop */
  /* --animate-menuToLeft: menuLeft 1s forwards;
  --animate-menuToRight: menuRight 1s forwards; */

  /* @keyframes menuLeft {
    0% {
      transform: translateX(0)
    }

    100% {
      transform: translateX(-120%)
    }
  }

  @keyframes menuRight {
    0% {
      transform: translateX(-120%)
    }

    100% {
      transform: translateX(0)
    }
  } */
}

/* @plugin "daisyui"; */
@layer base {
  :root {
    --color-primary: #006A4E;
    --color-secondary: #EEEDED;
    --color-accent: #FCE6E5;
    --color-accent2: #F8FCFF;
    --animate-menuToLeft: menuLeft 1s forwards;
    --animate-menuToRight: menuRight 1s forwards;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @keyframes menuLeft {
    0% {
      transform: translateX(0)
    }

    100% {
      transform: translateX(-120%)
    }
  }

  @keyframes menuRight {
    0% {
      transform: translateX(-120%)
    }

    100% {
      transform: translateX(0)
    }
  }

  .bg-primary {
    background-color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .border-secondary {
    border-color: var(--color-secondary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .text-accent {
    color: var(--color-accent);
  }

  .bg-accent2 {
    background-color: var(--color-accent2);
  }

  .text-accent2 {
    color: var(--color-accent2);
  }
    .animate-gradient {
      animation: rotateGradient 4s linear infinite;
    }
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(to right, var(--color-accent), var(--color-accent2));
  }
}


@keyframes reviewPlus {
  0% {
    z-index: 10;
    transform: translateX(0) scale(1);
    /* width:100%; */
  }

  100% {
    z-index: 0;
    transform: translateX(-50%) scale(0.8);
    /* width: 50%; */
  }
}

@keyframes reviewZ {
  0% {
    z-index: 10;
    transform: translateX(50%) scale(0.8);
  }

  100% {
    z-index: 20;
    transform: translateX(0) scale(1);
  }
}

  @keyframes progressAnimation {
    0%{
      width: 0%;
    }
    100%{
      width: 50%;
    }
  }


@keyframes reviewBefore {
  0% {
    z-index: 0;
    transform: translateX(0) scale(0);
  }

  100% {
    z-index: 5;
    transform: translateX(50%) scale(0.8);
  }
}

@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




/* css to override the default styles of 'react-phone-input-2' package */
.react-tel-input .form-control {
  width: 100% !important;
  /* override the default width */
}